/** RESET CSS **/

html {
    height: 100vh;
    scroll-behavior: smooth;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
    height: 100%;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --primary: #000;
    --secundary: #fff;
}

/** Font FAMILY**/

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins.woff2") format("woff2");
    font-display: swap;
}

/*Barra de navegacion*/

body {
    font-family: "Poppins";
}

.header{
    height: 6rem;
    background: var(--primary);
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: end;
}

.header__menu {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5rem;
    gap: 3rem;
}

.header__item a {
    text-decoration: none;
    color: var(--secundary);
}

/*Seccion de Inicio*/

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inicio__titulo {
    text-align: center;
}

.inicio__item {
    flex-basis: 25rem;
    flex-grow: 1;
}


.inicio__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--secundary);
    color: var(--primary);
    padding: 1rem;
    gap: 1rem;
    flex-shrink: 1;
}

/*Seccion Servicios*/

.servicios {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 100px) 1fr;
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "header header"
    "atencion capacitacion"
    "marketing inovacion"
    "videos videos";
    gap: 3rem;
    padding: 3rem;
    box-sizing: border-box;
    background-image: linear-gradient( 60deg, var(--primary), var(--secundary) );
}

.servicios__header {grid-area: header;}
.servicios__item:nth-child(1) { grid-area: atencion;}
.servicios__item:nth-child(2) { grid-area: capacitacion;}
.servicios__item:nth-child(3) { grid-area: marketing;}
.servicios__item:nth-child(4) { grid-area: inovacion;}
.servicios__videos { grid-area: videos;}

.servicios__header {
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
}

.servicios__item {
    border-left: #222 solid 5px;
    padding-left: 0.4rem;
}

.servicios__texto {
    font-size: 0.8rem;
}

.servicios__videos {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 1rem;
}

/* Seccion Sobre mi*/

.sobremi {
    display: grid;
    grid-template-areas: 
    "header item"
    "none button";
    padding: 1rem;
}

.sobremi__header {
    text-align: center;
    padding: 1rem;
    grid-area: header;
}

.sobremi__item {
    border-left: #222 solid 5px ;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: item;
}

.sobremi__button {
    width: 8rem;
    height: 3rem;
    text-decoration: none;
    text-align: center;
    align-content: center;
    align-self: start;
    background: var(--primary);
    color: var(--secundary);
    border: none;
    grid-area: button;
    margin-top: 1rem;
    margin-left: 1rem;
}

/** Pictures **/

.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.logos__cummins {
    width: 5rem;
    height: 5rem;
}

.logos__diesel {
    width: 8rem;
    height: 8rem;
}

.logos__isuzu {
    width: 10rem;
    height: 10rem;
}

.logos__iveco {
    width: 8rem;
    height: 8rem;
}

/** Seccion de Contacto **/

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
    background-color: var(--secundary);
    color: var(--primary);
}

.contacto__container {
    display: flex;
    justify-content: space-around;
}

.contacto__header { 
    text-align: center; 
    font-size: 1.5rem;
}  

.contacto__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
}

.contacto__img {
    height: 50px;
    width: 50px;
}

.contacto__item a { 
    text-decoration: none;
}

.contacto__item span {
    font-size: 1.2rem;
    font-weight: bold;
}

/** Footer **/

.footer {
    text-align: center;
    background: var(--primary);
    color: var(--secundary);
    height: 5rem;
    gap: 3rem;
}

.footer__menu {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}

.footer__item a {
    text-decoration: none;
    color: var(--secundary);
}

/** Responsive **/

@media (width <= 900px) {

    /** header **/
    .header {
        display: none;
    }

    /**INICIO**/
    .inicio {
        flex-direction: column;
    }

    .inicio__imagen--secundaria {
        display: none;
    }

    /**SERVICIOS**/
    .servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicios__videos--secundario {
        display: none !important;
    }

    /**LOGOS**/
    .logos {
        display: none;
    }

    /**SOBRE MI**/
    .sobremi {
        display: flex;
        flex-direction: column;
    }

    .sobremi__texto--secundario {
        display: none;
    }

    .contacto {
        display: flex;
    }

    .contacto__container {
        display: flex;
        flex-direction: column;
    }

    .footer {
        display: flex;
    }

    .footer__nav {
        display: none;
    }
}